@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Delicious+Handrawn&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Birthstone+Bounce:wght@400;500&family=Delicious+Handrawn&family=Nanum+Brush+Script&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container1 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.container1 p{
  font-family: "Nanum Brush Script", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 25px;
}

.container2 h6 {
  font-family: "Nanum Brush Script", cursive;
  font-size: 28px;
}

.container2 p{
  font-size: 20px;
}

.heroButton{
  color: aliceblue;
  font-family: "Benne";
  width: 120px;
  height: 55px;
  font-size: 40px;
  border-radius: 0px;
  border: 1px solid orange;
  padding: 0;
}

.heroButton:hover{
  color: aliceblue;
  font-family: "Benne";
  width: 120px;
  height: 55px;
  font-size: 40px;
  border-radius: 0px;
  background-color: orange;
  padding: 0;
}







.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  flex-wrap: nowrap;
}

.logoBox {
  width: 45%;
}

.navbar-logo {
  color: #fff;
  align-self: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  width: 400px;
}

.menu-icon {
  display: none;
}


.mobileShow img {
  width: 50px;
  margin-top: 5px;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background: rgb(173, 173, 173);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}


@media screen and (max-width: 960px) {
  .navbar {
    justify-content: space-between;
  }
  
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -170px ;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    top: 0px;  
    opacity: 1;
    transition: all 1.5s ease-out;
    z-index: 1;
    margin-top: 70px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background: rgb(173, 173, 173);
    border-radius: 0;
  }

  .logoBox {
    width: 90%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: -75px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    /* margin-top: 5px; */
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

}

@media screen and (max-width: 420px) {
.navbar-logo {
  font-size: 22px;
}
}



.page-header{
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("../src/assets/resturant1.jpg");
}

.Panel-Header{
  font-family: "Birthstone Bounce", cursive;
  font-weight: 800;
  font-size: 50px;
}

.span-bottom{
  border-bottom: 1px solid #574c4c;
}

.Tab-List{
  background-color: black;
  color: aliceblue;
}